In [ ]:
import pandas as pd
import numpy as np

**Problem-1**<br>
Generate 10000 values between 5 and 500. Find it's mean, median, variance and 25th percentile.

In [ ]:
a = np.random.randint(5,500,10000)
print(a)

print(np.mean(a))
print(np.var(a))
print(np.percentile(a,25))

[140 110  91 ... 338  49 441]
252.9667
20084.38459111
131.0

In [ ]:
data=pd.read_csv('dat.csv',index_col=0)

In [ ]:
data

             class  Gender   Age  Survived
PassengerId
1              3.0    male  22.0       0.0
2              1.0  female  38.0       1.0
3              3.0  female  26.0       1.0
4              NaN  female  35.0       NaN
5              3.0    male  35.0       0.0
6              3.0    male   NaN       0.0
7              1.0    male  54.0       0.0
8              3.0    male   2.0       0.0
9              3.0     NaN  27.0       1.0
10             2.0  female  14.0       1.0
11             3.0  female   4.0       1.0
12             1.0  female  58.0       1.0
13             3.0    male  20.0       0.0
14             NaN    male  39.0       NaN
15             3.0  female  14.0       0.0
16             2.0  female  55.0       1.0
17             3.0    male   2.0       0.0
18             2.0    male   NaN       1.0

**Problem-2**<br>
In the 'dat.csv' replace all null values with the mean of their respective colums except gender.

In [ ]:
data.isna().sum()

class       2
Gender      1
Age         2
Survived    2
dtype: int64

In [ ]:
data=data.fillna(data.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
data

              class  Gender      Age  Survived
PassengerId
1            3.0000    male  22.0000       0.0
2            1.0000  female  38.0000       1.0
3            3.0000  female  26.0000       1.0
4            2.4375  female  35.0000       0.5
5            3.0000    male  35.0000       0.0
6            3.0000    male  27.8125       0.0
7            1.0000    male  54.0000       0.0
8            3.0000    male   2.0000       0.0
9            3.0000     NaN  27.0000       1.0
10           2.0000  female  14.0000       1.0
11           3.0000  female   4.0000       1.0
12           1.0000  female  58.0000       1.0
13           3.0000    male  20.0000       0.0
14           2.4375    male  39.0000       0.5
15           3.0000  female  14.0000       0.0
16           2.0000  female  55.0000       1.0
17           3.0000    male   2.0000       0.0
18           2.0000    male  27.8125       1.0

In [ ]:
data.isna().sum()

class       0
Gender      1
Age         0
Survived    0
dtype: int64

**Problem-3**<br>
Create a new column called "Bool" which has value as "yes" if survived = 0 and "no" if survived = 1.

In [ ]:
data['bool']=np.where(data['Survived']==1, True, False)

In [ ]:
data

              class  Gender      Age  Survived   bool
PassengerId
1            3.0000    male  22.0000       0.0  False
2            1.0000  female  38.0000       1.0   True
3            3.0000  female  26.0000       1.0   True
4            2.4375  female  35.0000       0.5  False
5            3.0000    male  35.0000       0.0  False
6            3.0000    male  27.8125       0.0  False
7            1.0000    male  54.0000       0.0  False
8            3.0000    male   2.0000       0.0  False
9            3.0000     NaN  27.0000       1.0   True
10           2.0000  female  14.0000       1.0   True
11           3.0000  female   4.0000       1.0   True
12           1.0000  female  58.0000       1.0   True
13           3.0000    male  20.0000       0.0  False
14           2.4375    male  39.0000       0.5  False
15           3.0000  female  14.0000       0.0  False
16           2.0000  female  55.0000       1.0   True
17           3.0000    male   2.0000       0.0  False
18           2.0000    male  27.8125       1.0   True

**Problem-4**<br>
What is the mean age of the data?

In [ ]:
np.mean(data['Age'])

27.8125

**Problem-5**<br>
Rename the 'Passenger ID' column to 'ID'.

In [ ]:
data.rename(columns={'PassengerId':'Id'}, inplace=True)
data

              class  Gender      Age  Survived   bool
PassengerId
1            3.0000    male  22.0000       0.0  False
2            1.0000  female  38.0000       1.0   True
3            3.0000  female  26.0000       1.0   True
4            2.4375  female  35.0000       0.5  False
5            3.0000    male  35.0000       0.0  False
6            3.0000    male  27.8125       0.0  False
7            1.0000    male  54.0000       0.0  False
8            3.0000    male   2.0000       0.0  False
9            3.0000     NaN  27.0000       1.0   True
10           2.0000  female  14.0000       1.0   True
11           3.0000  female   4.0000       1.0   True
12           1.0000  female  58.0000       1.0   True
13           3.0000    male  20.0000       0.0  False
14           2.4375    male  39.0000       0.5  False
15           3.0000  female  14.0000       0.0  False
16           2.0000  female  55.0000       1.0   True
17           3.0000    male   2.0000       0.0  False
18           2.0000    male  27.8125       1.0   True

**Problem-6**<br>
How many male and female people are there in our data?

In [ ]:
np.sum(data['Gender']=='male')

9

In [ ]:
np.sum(data['Gender']=='female')

8